@{
    Layout = "_AdminLayout";
}

<h4>Assign Instructor to Class</h4>

<form class="bg-white p-4 col-md-6">
    <label>Class</label>
    <select class="form-control mb-3">
        <option>Class 8</option>
        <option>Class 9</option>
    </select>

    <label>Instructor</label>
    <select class="form-control mb-3">
        <option>Rakib</option>
        <option>Nasir</option>
    </select>

    <button class="btn btn-warning">Assign</button>
</form>
