@{
    Layout = "_AdminLayout";
}

<h4>My Profile</h4>

<form class="col-md-6 bg-white p-4">
    <label>Name</label>
    <input class="form-control mb-3" />

    <label>Email</label>
    <input class="form-control mb-3" />

    <button class="btn btn-warning">Update</button>
</form>
