@{
    Layout = "_AdminLayout";
}

<h4>Question Bank</h4>

<input class="form-control mb-3" placeholder="Search question..." />

<table class="table bg-white">
    <tr>
        <th>Question</th>
        <th>Type</th>
        <th>Action</th>
    </tr>
    <tr>
        <td>Capital of Bangladesh?</td>
        <td>MCQ</td>
        <td>
            <button class="btn btn-sm btn-primary">Edit</button>
        </td>
    </tr>
</table>
