@{
    ViewData["Title"] = "Register";
    Layout = "~/Views/Shared/_AccountLayout.cshtml";
}

<div class="account-container">
    <div class="account-box">
        <h2 class="text-center mb-4">Register</h2>
        <p class="text-center">Select How You Want To Register.</p>

        <a asp-controller="Account" asp-action="RegisterStudent"
           class="btn btn-success w-100 p-2 mb-2">
            Register as Student
        </a>

        <a asp-controller="Account" asp-action="RegisterInstructor"
           class="btn btn-secondary w-100">
            Register as Instructor
        </a>

        <p class="text-center mt-3">
            Already have an account?
            <a asp-controller="Account" asp-action="Login" class="text-decoration-none">
                Login
            </a>
        </p>

        <div class="text-center">
            <a asp-controller="Home" asp-action="Index"
               class="text-decoration-none mt-3">
                Back
            </a>
        </div>
    </div>
</div>
