@model QuizSystemModel.ViewModels.RegisterViewModel
@{
    ViewData["Title"] = "Create Instructor";
}

<h2>Create Instructor</h2>

<form asp-action="Create" method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

    <input type="hidden" asp-for="Role" value="Instructor" />

    <div class="form-group">
        <label asp-for="FirstName">First Name</label>
        <input asp-for="FirstName" class="form-control" />
        <span asp-validation-for="FirstName" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="LastName">Last Name</label>
        <input asp-for="LastName" class="form-control" />
        <span asp-validation-for="LastName" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Email">Email Address</label>
        <input asp-for="Email" class="form-control" />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="PhoneNumber">Phone Number</label>
        <input asp-for="PhoneNumber" class="form-control" />
        <span asp-validation-for="PhoneNumber" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="HscPassingInstitute">Hsc Passing Institute</label>
        <input asp-for="HscPassingInstitute" class="form-control" />
        <span asp-validation-for="HscPassingInstitute" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="HscPassingYear">Hsc Passing Year</label>
        <input asp-for="HscPassingYear" class="form-control" />
        <span asp-validation-for="HscPassingYear" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="HscGrade">Hsc Grade</label>
        <input asp-for="HscGrade" class="form-control" />
        <span asp-validation-for="HscGrade" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label>Education Medium</label>
        <select asp-for="EducationMediumId"
                asp-items="ViewBag.EducationMediumId"
                class="form-control">
            <option value=""> Select Education Medium</option>
        </select>
    </div>
    <div class="form-group">
        <label for="Password">Password</label>
        <input id="Password" name="Password" type="password" class="form-control" />
        <span asp-validation-for="Password" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label for="ConfirmPassword">Confirm Password</label>
        <input id="ConfirmPassword" name="ConfirmPassword" type="password" class="form-control" />
        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary">Create</button>
    <a asp-action="Index" class="btn btn-secondary">Back to List</a>
</form>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
