@using SmartQuizAssessmentSystem.ViewModels
@model SubjectCreateViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Edit Subject";
}

<h2>Edit Subject</h2>

<form asp-action="Edit" method="post">
    @Html.AntiForgeryToken()
    <input type="hidden" asp-for="Id" />

    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

    <div class="form-group mb-2">
        <label asp-for="Name"></label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>

    <div class="form-group mb-2">
        <label asp-for="EducationMedium"></label>
        <select asp-for="EducationMedium"
                asp-items="Model.EducationMediumList"
                class="form-control">
            <option value="">Select Education Medium</option>
        </select>
        <span asp-validation-for="EducationMedium" class="text-danger"></span>
    </div>

    <div class="form-group mb-2">
        <label asp-for="ClassId"></label>
        <select asp-for="ClassId"
                asp-items="Model.ClassList"
                class="form-control">
            <option value="">Select Class</option>
        </select>
        <span asp-validation-for="ClassId" class="text-danger"></span>
    </div>

    <div class="form-group mt-2 form-check">
        <input asp-for="IsApproved" class="form-check-input" />
        <label asp-for="IsApproved" class="form-check-label"></label>
        <span asp-validation-for="IsApproved" class="text-danger"></span>
    </div>

    <div class="form-group mt-2">
        <label asp-for="Status"></label>
        <select asp-for="Status"
                class="form-control"
                asp-items="Html.GetEnumSelectList<QuizSystemModel.BusinessRules.ModelStatus>()">
        </select>
        <span asp-validation-for="Status" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary mt-3">Save</button>
    <a asp-action="Index" class="btn btn-secondary mt-3">Back to List</a>
</form>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
