@model IEnumerable<QuizSystemModel.Models.Class>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "All Classes";
}

<h2>All Classes</h2>

<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>Name</th>
            <th>Education Medium</th>
            <th>Approved</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var c in Model)
        {
            <tr>
                <td>@c.ClassName</td>
                <td>@c.EducationMedium?.Name</td>
                <td>@(c.IsApproved ? "Yes" : "No")</td>
                <td>
                    <a asp-action="ClassDetails" asp-route-id="@c.Id" class="btn btn-sm btn-info">
                        Details
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>
