@model QuizSystemModel.Models.Subject

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Subject Details";
}

<h2>Subject Details</h2>

<dl class="row">
    <dt class="col-sm-3">Name</dt>
    <dd class="col-sm-9">@Model.Name</dd>
</dl>

<a asp-action="Subjects" class="btn btn-secondary">Back to Subjects</a>
